<!DOCTYPE html>
<html>
  <head>
    <title>Reason #<%= @way_num %> I love Susan</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen"> 
  </head>
  <body>
    <div class="reason_block">
      <%= yield %>
	   <% if !params.empty? #TODO: Cleanup this logic %>
	    <h2><a href="/">Show me another reason</a></h2>
	  <% else %>
	    <h2><a href="" onClick="location.reload();">Show me another reason</a></h2>
	  <% end %>
	</div>
	<footer>
	  <ul class="links">
	    <li><a href="<%= url "/#{@way_num}" %>">Permalink</a></li>
	    <li><a href="http://twitter.com/home?status=Reason <%= @way_num %> David loves Susan <%= url "/#{@way_num}" %>" target="_blank">Tweet this reason</a></li>
		<li>Made for Susan Yi by <a href="http://davidpaullyons.com" target="_blank">David Lyons</a></li>
		<li><a href="https://github.com/thekungfuman/howdoi" title="View source on Github" target="_blank">Fork this project</a> for someone you love</li>
	  </ul>
	</footer>
  </body>
</html>